<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../libs/jquery/dist/jquery.min.js"></script>
    <script src="../../libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/adjustments.css">
    <link rel="stylesheet" href="../css/header-custom.css">
    <link rel="stylesheet" href="../css/form.css">
    <title>Sign Up</title>
</head>
<body>

<div class="navbar-header header-custom container">

    <img src="../images/fgc_logo.png" class="pull-left"/>
    <span class="right-btns pull-right">
        <span class="header-text">Online Money Transfer:</span>
        <span>
            <a class="btn header-black-btn">Login</a>
            <a class="btn header-white-btn">How It Works</a>
        </span>
    </span>
</div>




<div class="container custom-container">
    <div class="row">
        <div class="col col-sm-6">
            <h3 class="section-heading pull-left">Beneficiaries</h3>
        </div>
        <div class="col col-sm-6">
            <div class="pull-right"><a class="btn form-btn bg-blue margin-10-t">Add Beneficiary</a></div>
        </div>
    </div>
    <hr>


    <div class="panel-group">
        <div class="panel panel-default border-radius-8">
            <div class="panel-heading panel-heading-blue border-radius-8-t">Product Details</div>
            <h2 class="panel-body padding-0-x"></h2>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Select Service*</div>
                    <div class="col col-md-7 padding-5-x">
                        <select class="form-control border-radius-8 height-40">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="row margin-10-t">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Send Money To</div>
                    <div class="col col-md-7 padding-5-x">
                        <select class="form-control border-radius-8 height-40">
                            <option>Pakistan</option>
                        </select>
                    </div>
                </div>
            </div>
            <h3 class="sub-heading padding-20-x">Product Details</h3>

            <div class="panel-section-padding">
                <div class="row margin-10-t">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Bank Name</div>
                    <div class="col col-md-7 padding-5-x">
                        <select class="form-control border-radius-8 height-40">
                            <option>Select</option>
                            <option>Pakistan</option>
                        </select>
                        <div class="margin-10-t">
                            <label class="radio-inline form-label"><input type="radio" name="optradio">Account Number</label>
                            <label class="radio-inline form-label"><input type="radio" name="optradio">IBAN</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Account Number</div>
                    <div class="col col-md-7 padding-5-x"><input class="padding-0-x form-control border-radius-8 height-40" type="text"/></div>
                </div>
            </div>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">IBAN</div>
                    <div class="col col-md-7 padding-5-x"><input class="padding-0-x form-control border-radius-8 height-40" type="text"/></div>
                </div>
            </div>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Branch Name</div>
                    <div class="col col-md-7 padding-5-x"><input class="padding-0-x form-control border-radius-8 height-40" type="text"/></div>
                </div>
            </div>

            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Branch City</div>
                    <div class="col col-md-7 padding-5-x"><input class="padding-0-x form-control border-radius-8 height-40" type="text"/></div>
                </div>
            </div>

            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Branch Code</div>
                    <div class="col col-md-7 padding-5-x"><input class="padding-0-x form-control border-radius-8 height-40" type="text"/></div>
                </div>
            </div>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Beneficiary Currency</div>
                    <div class="col col-md-7 padding-5-x"><input class="padding-0-x form-control border-radius-8 height-40" type="text"/></div>
                    <div class="col col-md-2 padding-5-x form-label margin-10-y">Pakistan Rupees</div>

                </div>
            </div>
            <h3 class="sub-heading padding-20-x">Beneficiary Contact Details</h3>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Title</div>
                    <div class="col col-md-7 padding-5-x">
                        <select class="form-control border-radius-8 height-40">
                            <option>Select</option>
                            <option>Pakistan</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">First Name</div>
                    <div class="col col-md-7 padding-5-x"><input class="padding-0-x form-control border-radius-8 height-40" type="text"/></div>
                </div>
            </div>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Middle Name</div>
                    <div class="col col-md-7 padding-5-x"><input class="padding-0-x form-control border-radius-8 height-40" type="text"/></div>
                </div>
            </div>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Last Name</div>
                    <div class="col col-md-7 padding-5-x"><input class="padding-0-x form-control border-radius-8 height-40" type="text"/></div>
                </div>
            </div>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Surname</div>
                    <div class="col col-md-7 padding-5-x"><input class="padding-0-x form-control border-radius-8 height-40" type="text"/></div>
                </div>
            </div>
            <div class="panel-section-padding">
                <div class="row">
                    <div class="col col-md-3 padding-5-x form-label margin-10-y">Country</div>
                    <div class="col col-md-7 padding-5-x">
                        <select class="form-control border-radius-8 height-40">
                            <option>Select</option>
                            <option>Pakistan</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>





    <div class="text-center">
        <a class="btn form-btn black-btn width-108">Back</a>
        <a class="btn form-btn bg-blue width-108">Save</a>
        <a class="btn form-btn bg-blue">Save And Send Money Now</a>

    </div>




</div>
<hr>

</body>
</html>