<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../libs/jquery/dist/jquery.min.js"></script>
    <script src="../../libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/adjustments.css">
    <link rel="stylesheet" href="../css/header-custom.css">
    <link rel="stylesheet" href="../css/form.css">
    <title>Beneficiary</title>
</head>
<body>
<div class="navbar-header header-custom container">
    <img src="../images/fgc_logo.png" class="pull-left"/>
    <span class="right-btns pull-right">
        <span class="header-text">Online Money Transfer:</span>
        <span>
            <a class="btn header-black-btn">Login</a>
            <a class="btn header-white-btn">How It Works</a>
        </span>
    </span>
</div>
<div class="nav-label row margin-0">
    <span class="pull-left padding-10">Welcome, Azhar Raza ( Your last login date : 15/06/2017 )</span>
    <span class="pull-right padding-10">Thursday, 15 Jun 2017</span>
</div>
<nav class="navbar  nav-custom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Send Money</a></li>
                <li><a href="#">View Transactions</a></li>
                <li><a href="#">Upload Documents</a></li>
                <li><a href="#">Maintenance</a></li>
                <li><a href="#">Manage User Profile</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container custom-container">
    <div class="row">
        <div class="col col-sm-6">
            <h3 class="section-heading pull-left">Beneficiaries</h3>
        </div>
        <div class="col col-sm-6">
            <div class="pull-right"><a class="btn form-btn bg-blue margin-10-t">Add Beneficiary</a></div>
        </div>
    </div>
    <hr>
    <div class="text-center bg-blue add-beneficiary">
        <p>Click Add Beneficiary to add your beneficiary details</p>
        <p>(or)</p>
        <div><a class="btn form-btn bg-yellow margin-10-t">Back to Dashboard</a></div>
    </div>
</div>
</body>
</html>