<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../libs/jquery/dist/jquery.min.js"></script>
    <script src="../../libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/adjustments.css">
    <link rel="stylesheet" href="../css/header-custom.css">
    <link rel="stylesheet" href="../css/form.css">
    <title>Sign Up</title>
</head>
<body>

<div class="navbar-header header-custom container">

    <img src="../images/fgc_logo.png" class="pull-left"/>
    <span class="right-btns pull-right">
        <span class="header-text">Online Money Transfer:</span>
        <span>
            <a class="btn header-black-btn">Login</a>
            <a class="btn header-white-btn">How It Works</a>
        </span>
    </span>

</div>

<div class="nav-label row margin-0">
    <span class="pull-left padding-10">Welcome, Azhar Raza ( Your last login date : 15/06/2017 )</span>
    <span class="pull-right padding-10">Thursday, 15 Jun 2017</span>
</div>

<div class="container custom-container text-center">

    <h3 class="section-heading pull-left">Dashboard</h3>
    <hr>
    <div class="row ">
        <div class="col col-md-3 padding-10-x">
            <div class="thumbnail">
                <img src="../images/send_money_img.jpg" class="dashboard-img" alt="">
                <p class="img-label">Send Money</p>
            </div>
        </div>
        <div class="col col-md-3 padding-10-x">
            <div class="thumbnail">
                <img src="../images/view_transaction_img.jpg" class="dashboard-img" alt="">
                <p class="img-label">View Transaction</p>
            </div>
        </div>
        <div class="col col-md-3 padding-10-x">
            <div class="thumbnail">
                <img src="../images/manage_payment_option_img.jpg" class="dashboard-img" alt="">
                <p class="img-label">Manage Payment Option</p>
            </div>
        </div>
        <div class="col col-md-3 padding-10-x">
            <div class="thumbnail">
                <img src="../images/manage_beneficiaries_img.jpg" class="dashboard-img" alt="">
                <p class="img-label">Manage Beneficiaries</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-3 padding-10-x">
            <div class="thumbnail">
                <img src="../images/manage_alerts_img.jpg" class="dashboard-img" alt="">
                <p class="img-label">Manage Alerts</p>
            </div>
        </div>
        <div class="col col-md-3 padding-10-x">
            <div class="thumbnail">
                <img src="../images/upload_documents_image.jpg" class="dashboard-img" alt="">
                <p class="img-label">Upload Documents</p>
            </div>
        </div>
        <div class="col col-md-3 padding-10-x">
            <div class="thumbnail">
                <img src="../images/send_feedback_img.jpg" class="dashboard-img" alt="">
                <p class="img-label">Send Feedback</p>
            </div>
        </div>
        <div class="col col-md-3 padding-10-x">
            <div class="thumbnail">
                <img src="../images/manage_beneficiaries_img.jpg" class="dashboard-img" alt="">
                <p class="img-label">Manage Users</p>
            </div>
        </div>
    </div>
</div>



</body>
</html>