<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../libs/jquery/dist/jquery.min.js"></script>
    <script src="../../libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/adjustments.css">
    <link rel="stylesheet" href="../css/header-custom.css">
    <link rel="stylesheet" href="../css/form.css">
    <title>Sign Up</title>
</head>
<body >

<div class="home-bg">
    <div class="navbar-header header-custom container">
        <img src="../images/fgc_logo.png" class="pull-left"/>
        <span class="right-btns pull-right">
        <span class="header-text">Online Money Transfer:</span>
        <span>
            <a class="btn header-black-btn">Login</a>
            <a class="btn header-white-btn">How It Works</a>
        </span>
    </span>
    </div>
    <div class="container custom-container">
        <div class="row">
            <div class="col col-sm-6">
                <h1 class="home-title">FGC Money</h1>
                <h2 class="home-subtitle">is a service for people taking care of their loved ones</h2>
                <a class="btn bg-red large-btn margin-30-t">SignUp</a>
            </div>
            <div class="col col-sm-6 margin-50-t">
                <div class="panel-group">
                    <div class="panel panel-default border-radius-8 transparency">
                        <div class="panel-heading home-panel-heading-blue border-radius-8-t">Money Transfer Calculator</div>
                        <div class="panel-section-padding">

                            <div class="row margin-10-t">
                                <div class="col col-md-6 padding-5-x home-form-label margin-10-y">Send Money To</div>
                                <div class="col col-md-6 padding-5-x">
                                    <select class="width-90 form-control home-select margin-5-t">
                                        <option>Pakistan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row margin-10-t">
                                <div class="col col-md-6 padding-5-x home-form-label margin-10-y">Amount to send</div>
                                <div class="col col-md-6 padding-5-x">
                                    <div class="input-group home-input-group">
                                        <input type="text" class="form-control">
                                        <select class="form-control" >
                                            <option>PKR</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-10-t">
                                <div class="col col-md-6 padding-5-x home-form-label margin-10-y">Amount to receive</div>
                                <div class="col col-md-6 padding-5-x">
                                    <div class="input-group home-input-group">
                                        <input type="text" class="form-control">
                                        <select class="form-control" >
                                            <option>PKR</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-10-t">
                                <div class="col col-md-3"></div>
                                <div class="col col-md-4 padding-5-x">
                                    <a class="btn form-btn bg-blue width-137">Login</a>
                                </div>
                                <div class="col col-md-4 padding-5-x">
                                    <a class="btn form-btn bg-red width-137">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mid-section padding-50">
    <h1>FGC MONEY</h1>
    <p>FGC Money Transfer is a service for people taking care of their loved ones, for people who are investing in the
        future and know how important it is to have a convenient, simple and reliable service.</p>
</div>


<div class="home-steps">
    <h1 class="heading padding-50">Send money online with peace of mind</h1>
    <p class="tag-line">With FGC Money, it's easy to send money to your loved ones around the world.</p>
    <h1 class="main-heading padding-50">How to send money online</h1>

    <div class="row padding-60">
        <div class="col col-sm-4 text-center padding-50-x">
            <span class="step round-border">1</span>
            <h2 class="step-heading">Select a Receiver</h2>
            <p class="step-description">Tell us who you are sending to, how they want to receive the money, and how much.</p>
        </div>
        <div class="col col-sm-4 text-center padding-50-x">
            <span class="step round-border">2</span>
            <h2 class="step-heading">Choose How To Play</h2>
            <p class="step-description">You can either pay with your credit1 or debit card, or directly from your bank account.</p>

        </div>
        <div class="col col-sm-4 text-center padding-50-x">
            <span class="step round-border">3</span>
            <h2 class="step-heading">Send Reliably</h2>
            <p class="step-description">Enter a little information about yourself so that we can verify your identity, then review and send!</p>

        </div>


    </div>

</div>
</body>
</html>