<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../libs/jquery/dist/jquery.min.js"></script>
    <script src="../../libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/adjustments.css">
    <link rel="stylesheet" href="../css/header-custom.css">
    <link rel="stylesheet" href="../css/form.css">
    <title>Sign Up</title>
</head>
<body class="bg-dark-blue">

<div class="container">
    <div class="login-box position-center-xy ">
        <img class="text-center login-image position-center-x" src="../images/login-img.jpg" alt="">
        <div class="login-image-bg position-center-x"></div>
        <h1 class="login-heading text-center">Login to the System</h1>
        <div class="login-form-wrapper">
            <form>
                <p class="login-label padding-0">User ID:</p>
                <input class="form-control" type="text" id="userId">
                <p class="login-label padding-0 margin-10-t">Password:</p>
                <input class="form-control" type="text" id="password">
                <div class="margin-15-t">
                    <a class="btn login-btn">Login</a>
                    <span class="login-label">Forgot Password?</span>
                </div>
            </form>
        </div>
        <p class="text-center padding-30 bg-blue margin-0 login-label1">Click here to Register!</p>
    </div>
</div>
</body>
</html>