.panel-heading-blue{
    background-color: rgb( 40, 147, 214 ) !important;
    font-size: 21px;
    color: white !important;
    text-transform: uppercase;
}
.home-panel-heading-blue{
    background-color: rgb( 40, 147, 214 ) !important;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    color: white !important;
    text-transform: uppercase;
}
.custom-container{
    padding: 0 70px;
}
.form-label{
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
}
.home-form-label{
    text-transform: uppercase;
    text-align: right;
    font-weight: 500;
    font-size: 17px;
    color: rgb( 40, 147, 214 )
}

.home-select{
    background-color: rgb( 229, 227, 227 );
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}
.home-input-group input{
    width:55% !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb( 229, 227, 227 );
    border: none;
}
.home-input-group select{
    width: 35% !important;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb( 40, 147, 214 );
    color: white;
    border: none;
}


.img-label{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
}

.dashboard-img{
    padding: 80px 0;
    height: 230px !important;
}

.form-label-top{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
}
.text-red{
    color: red;
}
.sub-heading{
    text-transform: uppercase;
    color: rgb( 40, 147, 214 );
}
.default-btn{
    border-radius: 8px;
    border: 1px solid rgb( 54, 54, 131 );
    background-color: white;
    width: 145px;
    height: 40px;
    padding-top: 10px;
    color: rgb( 129, 129, 129 );
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.black-btn{
    background-color: rgb( 41, 41, 54 );
}
.black-btn:hover{
    color: white;
}
.form-btn{
    border-radius: 8px;
    height: 40px;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 10px;
}
.bg-orange{
    background-color: rgb( 225, 135, 5 );
}
.bg-yellow{
    background-color: rgb( 255, 168, 0 );
}
.bg-blue{
    background-color: rgb( 40, 147, 214 );
}
.bg-red{
    background-color: rgb( 239, 33, 33 );
}
.form-btn:hover{
    color: white;
}

.panel-section-padding{
    padding: 20px 35px;
}
.section-heading{
    font-size: 21px;
    color: rgb( 255, 115, 2 );
    text-transform: uppercase;
    letter-spacing: 2px


}

.captcha-p{
    font-weight: bold;
    text-transform: uppercase;;
    letter-spacing: 1px;
    padding: 50px 50px 0 50px;
}
.add-beneficiary{
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2.7;
    padding: 120px 0 80px 0;
    margin: 100px 160px;
}

.home-title{
    font-size: 89px;
    color: rgb( 255, 255, 255 );
    text-shadow: 1px 1.732px 0px rgb( 15, 12, 12 );
    font-weight: bolder;
}

.home-subtitle{
    font-size: 35px;
    color: rgb( 255, 255, 255 );
    text-shadow: 1px 1.732px 0px rgb( 15, 12, 12 );
    font-weight: bolder;
}

.large-btn{
    width: 236px;
    height: 60px;
    border-radius: 8px;
    padding-top: 18px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.large-btn:hover{
    color: white;
}


