
@media all and (min-width: 500px) and (max-width: 799px){
    .header-custom {
        padding: 10px;
    }
    .right-btns{
        margin-bottom: 35px;

    }
    .header-black-btn{
        margin-right: 10px;
    }
    .header-text{
        margin-right: 10px;
    }
}
@media all and (min-width: 780px) and (max-width: 827px){
    .header-custom {
        padding: 10px;
    }
    .header-black-btn{
        margin-right: 10px;
    }
    .header-text{
        margin-right: 10px;
    }
}
@media all and (min-width: 780px) and (max-width: 827px){
    .header-custom {
        padding: 10px;
    }
    .header-black-btn{
        margin-right: 10px;
    }
    .header-text{
        margin-right: 10px;
    }
}

@media all and (min-width: 828px) and (max-width:1025px){
    .header-custom {
        padding: 25px 5px;
    }
    .header-black-btn{
        margin-right: 10px;
    }
    .header-text{
        margin-right: 10px;
    }
}
@media all and (min-width: 1024px) and (max-width:1151px){
    .header-custom {
        padding: 25px 80px;
    }
    .header-black-btn{
        margin-right: 20px;
    }
    .header-text{
        margin-right: 20px;
    }
}
@media all and (min-width: 1152px) and (max-width:1279px){
    .header-custom {
        padding: 25px 120px;
    }
    .header-black-btn{
        margin-right: 20px;
    }
    .header-text{
        margin-right: 20px;
    }
}
@media all and (min-width: 1280px){
    .header-custom {
        padding: 25px 215px;
    }
    .header-black-btn{
        margin-right: 20px;
    }
    .header-text{
        margin-right: 20px;
    }
}

.header-custom{
    background-color: #ebebed;
    width:100%;
    text-align: center;
}
.header-text{
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 17px;
    color: rgb( 19, 19, 26 );
    font-weight: 600;
}
.right-btns{
    position: relative;
    top: 20px;
    bottom: 0;
}
.header-white-btn{
    border: 1px solid rgb( 0, 0, 0 );
    border-radius: 8px;
    padding-top: 12px !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    background-color: #ebebed;
    width: 155px;
    height: 41px;
    color: rgb( 0, 0, 0 );
    letter-spacing: 2px;
    font-weight: 600;
}
.header-black-btn{
    padding-top: 12px !important;
    border: 1px solid rgb( 19, 19, 26 );
    font-weight: 600;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: rgb( 19, 19, 26 );
    width: 118px;
    height: 41px;
    color: rgb( 254, 254, 255 );
    letter-spacing: 2px;
    font-weight: 600;
}
.header-black-btn:hover{
    color: rgb( 254, 254, 255 );
}

