/*.btn-custom-black{*/
/*background-color: #13131a;*/
/*}*/


.panel-heading-blue{
    background-color: rgb( 40, 147, 214 ) !important;
    font-size: 21px;
    color: white !important;
    text-transform: uppercase;
}
.sign-up-container{
    padding: 0 70px;
}

.form-label{
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
}

.form-label-top{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
}
.text-red{
    color: red;
}